$primary-color: #002fa3;
$secondary-color: #001f6b;
$minor-color: #b3c1e3;

$space-main: 25px;

%shadow {
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
}

$max-width: 700px;