@import "../scss//general.scss";

.firstTd {
    height: 0px;
    width: 7px;
}

.line {
    width: 7px;
    height: 100%;
    border-radius: 999px;
    background-color: $primary-color;
}

.leftPins {
    width: 30px;
    text-align: center !important;
    position: relative;
    right: 18.5px;
}

.titleDay {
    font-family: "Staatliches";
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $secondary-color;
    line-height: 1;
}

.titleMonth {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    font-size: 0.8rem;
    color: $primary-color;
    margin-bottom: 20px;
}

.rightTd {
    padding-left: 0px;
    padding-bottom: 20px;
}

.beginHour {
    color: $primary-color;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 20px;
}

.endHour {
    color: $primary-color;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1;
    margin-top: 20px;
}

.table {
    width: 100%;
}

.card {
    position: relative;
    right: 15px;
}
