@import '../scss/general';

.whiteSchedule {
    color: white;
}

.day {
    margin: 0 $space-main 10px $space-main;
}

.hour {
    margin: 0 $space-main;
    font-family: 'Staatliches';
    font-size: 1.3rem;
}

.card {
    @extend %shadow;
    background-color: white;
    border-radius: 15px;
    padding: 20px $space-main;
    margin: 5px 0;
    max-width: $max-width;
}

.miniGroup {
    margin-right: 7px;
}

.title {
    color: $secondary-color;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.05;
}

.rightPart {
    text-align: right;
    color: black;
}

.room {
    font-size: 0.7rem;
    margin: 6px 0 10px 0;
}

.groups {
    font-size: 0.6rem;
}

.miniCard {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    padding: 15px 15px;
}

.miniCardTitle {
    font-size: 1.1rem;
    font-weight: 800;
    color: black;
    line-height: 1.1;
}

.miniBlueArrow {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
}

.roomNames {
    padding: 2px;
    display: inline-block;
}
