@import "../scss/general.scss";

.rootElm {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
}

.line {
    background-color: rgba(255, 255, 255, 0.3);
    height: 8px;
    width: 40px;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.buttonElm {
    @extend %shadow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 999px;
    transition: right 0.3s;
    cursor: pointer;
}

.miniButtonElm {
    height: 10px;
    width: 10px;
    background-color: rgb(211, 211, 211);
    border-radius: 999px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    top: 7.5px;
    left: 7.5px;
}