@import "../scss/general.scss";

.dragable {
    @extend %shadow;
    background-color: white;
    position: fixed;
    width: 100%;
    border-radius: 20px 20px 0 0;
    left: 0;
    min-height: 130vh;
}

.topPosition {
    padding: 0 10px 30px 10px;
}

.dragBtn {
    background-color: $primary-color;
    height: 7px;
    width: 40px;
    border-radius: 999px;
    margin: auto;
}

.clickableDragBtn {
    padding: 10px 0;
}

.shadows {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}