@import "../scss/general.scss";

.h2 {
    font-weight: 900;
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
    margin-right: 20px;
    line-height: 1;
}

.rootElm {
    padding: $space-main;
}

.table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    margin: 20px auto 10px auto;
}

.tdTime {
    width: 65px;
    text-align: center !important;
    padding: 7px;
    vertical-align: middle;
}

.tdDate {
    text-align: center !important;
    vertical-align: middle;
}

.timed {
    background-color: $minor-color;
    color: $primary-color;
    font-size: 1rem;
    font-weight: 800;
    padding: 1px 5px;
    width: 65px;
    border-radius: 10px;
}

.nameDay {
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

.nameMonth {
    color: $primary-color;
    font-size: 0.6rem;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

.tagRoom {
    padding: 0 5px;
    font-size: 0.8rem;
}

.groups {
    font-size: 0.7rem;
    margin: 5px 0 0 0;
}

.miniGroup {
    margin: 2px 5px;
}

.notes {
    margin: 30px 0;
}
.titleNote {
    font-weight: 900;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 1.2rem;
    padding: 0 15px;
}

.noteData {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px 15px;
    margin: 5px 0;
    border-radius: 10px;
    line-height: 1;
    font-size: 0.9rem;
}

.roomName {
    display: inline-block;
    margin: 2px;
}