@import "../scss/general.scss";

.bigPin {
    padding: 7px;
    background-color: $secondary-color;
    border-radius: 99px;
    display: inline-block;
}


.insideBigPin {
    background-color: white;
    height: 9px;
    width: 9px;
    border-radius: 99px;
}

.pin {
    padding: 5px;
    background-color: $secondary-color;
    border-radius: 99px;
    display: inline-block;
}


.insidePin {
    background-color: white;
    height: 7px;
    width: 7px;
    border-radius: 99px;
}

