@import "../scss/general.scss";

.rootElm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px $space-main 0 $space-main;
}

.content {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 800;
    letter-spacing: 0px;
}

.arrow {
    height: 1.7rem;
}

.arrow:first-child {
    margin-right: 2px;
}

.arrow:last-child {
    margin-left: 2px;
}