@import "../scss//general.scss";

.tag {
    display: inline-block;
    padding: 2px 10px;
    border: 1.5px solid $primary-color;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 999px;
    line-height: 1;

}
.tagGroup {
    display: inline-block;
    padding: 2px 10px 1px 10px;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 999px;
    line-height: 1;
    background-color: $minor-color;

}
