@import "./scss/general.scss";

.app {
    padding: 0 50px 70px 25px;
    min-height: 100vh;
    background-color: #00298e;
}

.appName {
    color: white;
    text-transform: uppercase;
    margin: 0 $space-main;
    padding: 30px 0 15px 0;
    font-size: 4rem;
    font-family: 'Staatliches';
}

.soon {
    padding: 0 $space-main;
    color: white;
    font-weight: 800;
    margin: 10px 0 30px 0;
}

.options {
    margin: 20px 0;
}

.titleOption {
    margin: 0 $space-main 20px $space-main;
    color: white;
}

.optColumn {
    margin-top: -15px;
}

.soonArrow {
    height: 0.7rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    bottom: 1px;
}